.register {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerform{
    display: flex;
    flex-direction: column;
}

.registerinput{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.registersubmit{
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 5px;
}